    .custom-modal-style {
    width: 897px;
    height: 402px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(202, 198, 198);
    margin-left:auto;
    margin-right : auto;
    margin-top: 100px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    z-index: 3;
    }
  #map{
  }
  .modal-body{
      margin-top: 80px;
      margin-right: 80px;
  }
  .bgbg{
      opacity: 0.5;
  }
  .modalcss{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    width: 897px;
    height: 402px;
    border: 1px solid rgb(202, 198, 198);
    margin-left:auto;
    margin-right : auto;
    margin-top: 100px;
    background-color: rgb(255,255,255);
  }
 .set_class{
   background-color: white;
   border: 1px solid lightgray;
   border-radius: 5px;
   height: auto;
   display: flex;
   align-items: center;
  }


  .filterdrop{
    margin: 20px;
}

  .highlights1 ul {
    display: flex;
    margin-bottom: -0px;
  }
  .highlights1 ul li{
    /* display: flex; */
    margin: 5px;
    display: inline-block;
  }
  .highlights .ulclass{
    margin:0px;
    padding: 0px;
    display:block;
  }
  .highlights .ulclass .liclass{
    float: left;
    background-color:rgb(241,241,241);
    margin: 7px;
    align-items: center;
    border-radius: 5px;
    display:block;
  }
  /* @media (max-width:760px){
    .highlights .ulclass .liclass{
     width:20%;
    }
  }
  @media (max-width:626px){
    .highlights .ulclass .liclass{
     width:30%;
    }
  }
  @media (max-width:469px){
    .highlights .ulclass .liclass{
     width:40%;
    }
  } */
  .highlights .ulclass .liclass a:hover{
    list-style: none;
    text-decoration: none;

  }
  .text1{
    margin:10px;
  }
  .highlights .ulclass .liclass a{
    font-size: 0.9rem;
    line-height: 25px;
    text-transform: capitalize;
    display: block;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 0px 10px;
    color: #000;
    text-align: center;
  }
  /* @media (max-width:430px){
    .highlights ul li{
     width:100%;
    }
  } */
  /* .card{
    position: relative;
    display: flex;
    height: auto;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .50rem;
    box-shadow: 0 0px 4px 0 rgb(0 0 0 / 19%);
    -ms-box-shadow: 0 0px 4px 0 rgb(0 0 0 / 19%);
    -webkit-box-shadow: 0 0px 4px 0 rgb(0 0 0 / 19%);
  } */